[submodule "server/vendor/boost"]
	path = server/vendor/boost
	url = git://github.com/ryppl/boost-svn.git
[submodule "server/vendor/websocketpp"]
	path = server/vendor/websocketpp
	url = git://github.com/zaphoyd/websocketpp.git
[submodule "server/vendor/jsoncpp"]
	path = server/vendor/jsoncpp
	url = git://github.com/mrtazz/json-cpp.git
[submodule "server/vendor/stk"]
	path = server/vendor/stk
	url = git://github.com/colinsullivan/stk.git
[submodule "server/vendor/tclap"]
	path = server/vendor/tclap
	url = git://tclap.git.sourceforge.net/gitroot/tclap/tclap
[submodule "tulpasynth/lib/vendor/RestKit"]
	path = tulpasynth/lib/vendor/RestKit
	url = git://github.com/RestKit/RestKit.git
