*.o
*.DS_Store
*.dia~
*.sass-cache
tulpasynth.xcodeproj/xcuserdata/*
tulpasynth.xcodeproj/project.xcworkspace/xcuserdata/*
tulpasynth/lib/vendor/Box2D_v2.2.1*
tulpasynth/lib/vendor/MoMu-STK-1.0.0*
tulpasynth/lib/vendor/momu-1.0.0*
